// --------------------------------------------
// Scribe Template: CSS > Widgets > Basket.less
// --------------------------------------------



.template-basket {
    padding-left: 10px;
    margin-right: 10px;
    overflow: hidden;

    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;

    // @media @tablet {
    //     -webkit-flex: 1 0 auto;
    //     -ms-flex: 1 0 auto;
    //     flex: 1 0 auto;
    // }


    // Mobile Positioning

    // @media @bp-global-small {
    //     position: absolute;
    //     padding-left: 0;
    //     margin-right: 0;
    //     height: 45px;
    //     top: 60px;
    //     right: 0;
    // }


    // Basket Icon
    // --------------------

    .button.icon {
        padding-left: 58px;
    }


    // Basket Toggle
    // --------------------

    .basket-toggle {
        box-shadow: none;
        margin-bottom: 0;
        z-index: 123;
        color: @color-swatch7;
        white-space: nowrap;

        -webkit-transform: translate(120px, 0px);
        -moz-transform: translate(120px, 0px);
        -o-transform: translate(120px, 0px);
        -ms-transform: translate(120px, 0px);
        transform: translate(120px, 0px);

        &:hover {
            color: lighten(@color-swatch7, 10%);
            background-color: rgba(215,222,231,0.19);
            border-color: darken(@color-swatch7, 10%);
        }

        &:before {
            color: @color-swatch7;
            background-color: transparent;
            font-size: 25px;

            &:hover {
                color: lighten(@color-swatch7,10%);
            }
        }
    }


    // Basket List
    // --------------------

    .basket-list,
    .basket-footer {
        background-color: #fff;
        padding: 30px;
        width: 100%;
        max-width: 800px;


        // Basket Item
        // --------------------

        .basket-item {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: -ms-flex;
            display: flex;
            -webkit-flex-wrap: nowrap;
            -moz-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            border-top: 1px solid darken(@color-swatch1, 5%);
            margin-bottom: 25px;
            padding-top: 20px;

            &:first-child {
                padding-top: 0;
                border-top: 0;
            }

            @media @bp-global-small {
                -webkit-flex-wrap: wrap;
                -moz-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
            }
        }


        .basket-item-image,
        .basket-item-details {
            display: inline-block;
            margin-right: 20px;

            @media @bp-global-small {
                margin-right: 0;
            }
        }


        // Image

        .image-link {
            line-height: 125px;
            height: 125px;
            width: 125px;
        }


        // Details

        .basket-item-details {
            -webkit-flex: 1 1 auto;
            -moz-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            -webkit-align-self: center;
            -moz-align-self: center;
            -ms-align-self: center;
            -ms-flex-item-align: center;
            -ms-flex-align: center;
            align-self: center;
            padding-right: 25px;

            @media @bp-global-small {
                padding-right: 0;
            }
        }
    }




    // Basket When Closed
    // --------------------

    .basket-body {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
        -webkit-box-orient: column;
        -webkit-box-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;

        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        padding: 90px 25px 100px;
        z-index: -9999;
        opacity: 0;

        background: fade(#000,80%);
    }


    // Basket When Open
    // --------------------

    .show-content .basket-body {
        opacity: 1;
        z-index: 12;
    }

    .show-content .basket-toggle {
        background-color: #fff;

        -webkit-transform: translate(0px, 0px);
        -moz-transform: translate(0px, 0px);
        -o-transform: translate(0px, 0px);
        -ms-transform: translate(0px, 0px);
        transform: translate(0px, 0px);
    }


    // Basket Remove Button

    .item-remove {
        padding: 0;
        box-shadow: none;
        top: 0;
        right: 30px;

        &:hover {
            background-color: transparent;
        }

        &:before {
            left: inherit;
            bottom: inherit;
            top: inherit;
            padding: 5px;
        }

        @media @bp-global-small {
            position: absolute;
        }
    }

    .remove-text {
        display: none;
    }


    // Basket Footer
    .basket-footer {
        margin-top: 0;
        border-top: 1px solid darken(@color-swatch1, 5%);

        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;

        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}